@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: bisque;
}

html {
  background-color: #1040aa;
}

#all_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr 1fr;
}

.wrapper {
  display: flex;
  width: 100%;
}

header {
  grid-column: 1 / 4;
  background-color: #09edc3;
  font-size: 50px;
  color: bisque;
  filter: brightness(87%);
}

main {
  grid-column: 2 / 4;
}

aside {
  grid-column: 1 / 2;
}

footer {
  grid-column: 1 / 4;
  background-color: #09edc3;
  filter: brightness(87%);
}

#header_content {
  flex-direction: column;
  justify-content: center;
  width: 80%;
  text-align: center;
}

#all_header {
  flex-direction: row;
  width: 80%;
  justify-content: center;
}

#header_img {
  margin-right: 20%;
  width: 10%;
}

#button_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#button_list > li {
  width: 90%;
  margin: 0 5%;
  text-align: end;
}

ul {
  width: 100%;
}

li > button {
  border: none;
  width: 100%;
  height: 100px;
  border-radius: 50px;
}

li > button > p {
  font-size: 20px;
}

#buy_cow:hover,
#buy_bust:hover,
#buy_earn:hover {
  cursor: pointer;
  animation-name: toOpacity;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  opacity: 80%;
}

#buy_cow:not(:hover),
#buy_bust:not(:hover),
#buy_earn:not(:hover) {
  cursor: pointer;
  animation-name: toUnOpacity;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  opacity: 100%;
}

@keyframes toUnOpacity {
  from {
    opacity: 80%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes toOpacity {
  from {
    opacity: 100%;
  }
  to {
    opacity: 80%;
  }
}

#buy_cow {
  background-color: #1080cc;
}

#buy_bust {
  background-color: #1040bb;
}

#buy_earn {
  background-color: #1020aa;
}

#footer_list {
  display: flex;
  width: 100%;
  margin-top: 40px;
  justify-content: center;
  font-size: 30px;
}

#earn {
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#earn_wrapper {
  display: flex;
  justify-content: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#earn_wrapper > img {
  width: 200px;
  height: 200px;
  user-select: none;
}

#money_current {
  padding: 0 30%;
}

#money_current > p {
  margin-top: 20px;
  width: 40%;
}

.current_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5%;
}

.current_text > div {
  width: 90%;
  border-radius: 50px;
  background-color: gray;
  padding-left: 5px;
  font-size: 20px;
}

#earn_button {
  background-color: transparent;
  border: none;
  background-image: url("../image/first_cow.png");
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
}

#earn_button:active {
  opacity: 50%;
}

@keyframes toInv {
  from {
    transform: translate(0px, 0);
    opacity: 100%;
  }
  to {
    transform: translate(0px, -100px);
    opacity: 0%;
  }
}

.v_text {
  font-size: 30px;
  font-weight: 900;
  animation-name: toInv;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  user-select: none;
  opacity: 0%;
}

#money_current_text,
#money_per_tap_text,
#money_per_min_text {
  user-select: none;
}

#cow_name {
  text-align: center;
  font-size: 30px;
  color: brown;
  background-color: bisque;
  width: 300px;
  margin-bottom: 5px;
  justify-self: center;
  border-radius: 50px;
  user-select: none;
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

#guide_button {
  border: 3px solid black;
  text-decoration: underline;
  font-size: 20px;
}

#guide_button:hover {
  cursor: pointer;
}

#guide_button:active {
  opacity: 50%;
}

#guide_content {
  position: absolute;
  left: -1000px;
  top: 200px;
  width: 1000px;
  font-size: 30px;
  text-align: center;
  background-color: brown;
  z-index: 100000000;
  animation-name: toVisible;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  transform: translate(1500px, 0px);
}

@keyframes toVisible {
  from {
    opacity: 0%;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 100%;
    transform: translate(1500px, 0px);
  }
}

#guide_bg {
  animation-name: toBgOpacity;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 70%;
  position: absolute;
  left: 0;
  background-color: black;
  top: 0;
}

@keyframes toBgOpacity {
  from {
    opacity: 0%;
  }
  to {
    opacity: 70%;
  }
}

#close_bg_button {
    background-image: url('../image/close_bg.png');
    background-size: 128px 128px;
    background-color: transparent;
    border: none;
    width: 128px;
    height: 128px;
    z-index: 999999999999999999999999999999999;
}

#close_bg_button:hover {
    cursor: pointer;
}

@keyframes _close_close_bg_button{
    from {
        opacity: 70%;
    }
    to {
        opacity: 0%;
        display: none;
    }
}

@keyframes close_close_bg_button{
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
        display: none;
    }
}

._active {
  animation-name: toGridInv;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/*
div:not(#all_wrapper) {
    border: 3px solid black;
}
*/
